.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem 10rem;

  .title {
    font-size: 3rem;
  }

  .list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
