.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 10rem 15rem 5rem;
  position: relative;

  .list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .addTodo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 0 0 1rem #00000022;
    width: fit-content;
    border-radius: 1rem;
    margin: 0 auto;

    .titleBar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 20rem;

      .title {
        font-size: 1.5rem;
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .input {
        padding: 0.5rem 1rem;
        font: 1.25rem Yekan-Bakh;
        border-radius: 1rem;
        border: 3px solid #00000022;
        transition: 0.1s ease-in-out all;

        &:focus {
          outline: unset;
          background: #00000011;
          border-color: transparent;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 9rem 3rem 5rem;
    gap: 3rem;

    .navBar {
      border-radius: 1rem;
      padding: 1rem 1.5rem;

      .title {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    gap: 2rem;

    .list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 640px) {
  .container {
    padding: 9rem 2rem 5rem;
    gap: 3rem;

    .navBar {
      .addPage {
        display: flex;
      }
    }

    .addTodo {
      display: none;
    }
  }
}
